<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahnbcilab.tremorquantification.tremorquantification">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SpiralTestActivity" />
        <activity android:name=".WrittenConsentActivity" />
        <activity android:name=".AnalysisActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".SurveyListActivity" />
        <activity android:name=".SubmitActivity" />
        <activity android:name=".SpiralResultActivity" />
        <activity android:name=".PersonalPatient2" />
        <activity android:name=".MotorScaleTaskActivity" />
        <activity android:name=".CRTS_TaskActivity" />
        <activity android:name=".PersonalPatient_MotorScale" />
        <activity android:name=".PersonalPatient_CRTS" />
        <activity android:name=".PersonalPatient" />
        <activity
            android:name=".PatientListActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".UPDRSActivity" />
        <activity android:name=".CRTSActivity"></activity>
    </application>

</manifest>